[submodule "wrappers/rust/apple_gen"]
	path = wrappers/rust/apple_gen
	url = https://github.com/Smoothstep/apple-gen-rs.git
[submodule "apple-auth-utils/apple_crypto"]
	path = apple-auth-utils/apple_crypto
	url = https://github.com/Smoothstep/apple-gen.git
